.zoom{
    /* Aumentamos la anchura y altura durante 2 segundos */
    transition: width 0.5s, height 0.5s, transform 0.5s;
    -moz-transition: width 0.5s, height 0.5s, -moz-transform 0.5s;
    -webkit-transition: width 0.5s, height 0.5s, -webkit-transform 0.5s;
    -o-transition: width 0.5s, height 0.5s,-o-transform 0.5s;
}
.zoom:hover{
    /* tranformamos el elemento al pasar el mouse por encima al doble de
       su tamaño con scale(2). */
    transform : scale(1.3);
    -moz-transform : scale(1.3);      /* Firefox */
    -webkit-transform : scale(1.3);   /* Chrome - Safari */
    -o-transform : scale(1.3);        /* Opera */
}